.mypage-container {
  width: 1180px;
  height: 1008px;
  position: relative;
  overflow: hidden;
}

.profile-section {
  width: 391px;
  height: 798px;
  position: absolute;
  left: 395px;
  top: 90px;
}

.profile-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 391px;
  position: absolute;
  left: 0;
  top: 0;
}

.profile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 167px;
  width: 128px;
  gap: 6px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 666.67px;
  object-fit: none;
  border: 2px solid white;
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10.95px;
  width: 100%;
}

.info-title {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #232527;
}

.info-label {
  font-size: 15px;
  color: #444;
}

.info-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 58px;
  padding: 18px;
  background: white;
  border: 0.91px solid #bfbfbf;
  border-radius: 9.12px;
}

.action-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  width: 100%;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 391px;
  padding: 18px;
  background: #444;
  border-radius: 9.12px;
  color: white;
  font-size: 14.6px;
  font-weight: bold;
}

.delete-account {
  display: flex;
  align-items: center;
  gap: 1.5px;
}

.delete-account p {
  font-size: 15px;
  font-weight: bold;
  color: #444;
}

.delete-account svg {
  width: 24px;
  height: 25px;
}
